@page
@model FleetManagementServer.Areas.Vehicle.Pages.Navigation.IndexModel
@{
}
@inject StatisticsService StatsService
<div>
    @(Html.DevExtreme().Map()
                  .ID("map")
                  .Provider(GeoMapProvider.Google)
                  .Height(440)
                  .Width("100%")
                  .Controls(true)
                  .Center("Brooklyn Bridge,New York,NY")
                  .Key(builder =>
                  {
                      builder.Google("AIzaSyBFrwqGoZrjtII61FOorCbl8Bqsc-0YJwo");
                  })
                  .Zoom(7)
                  .Routes(routes =>
                  {
                      routes.Add().

                  })
                  .Markers(markers =>
                  {
                      markers.Add()..Coordinates(40.755833, -73.986389).Tooltip(t => t.Text("Times Square"));
                      markers.Add().Address("40.7825, -73.966111").Tooltip(t => t.Text("Central Park"));
                      markers.Add().Coordinates(40.753889, -73.981389).Tooltip(t => t.Text("Fifth Avenue"));
                      markers.Add().Address("Brooklyn Bridge,New York,NY").Tooltip(t => t.Text("Brooklyn Bridge"));
                  })
                  .Type(GeoMapType.Roadmap)
    )
</div>

<script>
    function getMap() {
        return $("#map").dxMap("instance");
    }

</script>