@{
    Layout = "_Layout";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-auto">
            <partial name="_RightToolbar" optional="true" />

        </div>
        <div class="col">
            @RenderBody()
        </div>
    </div>  
    <div class="row align-items-end">
        <partial name="_BottomToolbar" optional="true" />
    </div>
</div>

